@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?7bi1oy');
  src: url('fonts/icomoon.eot?7bi1oy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7bi1oy') format('truetype'),
    url('fonts/icomoon.woff?7bi1oy') format('woff'),
    url('fonts/icomoon.svg?7bi1oy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: '\ea90';
}
